// Start css for sidebar

.sidebar-content-box {
    background-color: #1E1F25;
    width: 228px;
    float: left;
    padding: 15px;
    height: calc(100vh - 100px);
}

.sidebar-menu {
    list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sidebar-content {
    display: flex;
    justify-content: center;
}

.sidebar-menu li {

    overflow: hidden;
   

    margin-bottom: 5px;
    display: flex;
    align-items: center;

    a {
        text-decoration: none;
        color: #84849D;
        padding-left: 20px;
        height: 46px;
        display: flex;
        align-items: center;
        width: 197px;
        font-size: 14px;
        font-weight: 600;
    }
    
}
.sidebar-menu li a:hover{
    background: #307BF4;
    color: #fff;
}
.sidebar-menu li:last-child{
    margin-top: 50px;
}
.sidebar-menu li i{margin-right: 20px;}
// end css for sidebar


@media only screen and (max-width: 1200px) {
    .sidebar-content-box {
        background-color: #1E1F25;
        width: 190px;
    }
    .sidebar-menu li a{
        height: 40px;
        width: 160px;
    }
}