
<div class="sidebar-content-box">
    <div class="sidebar-content">
        <ul class="sidebar-menu">
            <li><a [routerLink]="['/admin/dashboard']"><i class="pi pi-microsoft"></i>Dashboard</a></li>
            <li><a [routerLink]="['/admin/user']"><i class="pi pi-user"></i>Users</a></li>
            <li><a [routerLink]="['/admin/storage']"><i class="pi pi-sort-amount-up-alt
                "></i>Storage</a></li>
            <li><a href=""><i class="pi pi-cog"></i>Settings</a></li>
        </ul>
    </div>
</div>
